@font-face {
  font-family: PohinaFont;
  src: url("fonts/ADAM.CG-PRO.otf");
  font-weight:400;
}

.main-container {
  margin-top: 30px;
}

.pohina-frontpage-container {
  height:auto!important;
  /*min-height: 400px;*/
  background-image: url("img/frontpage-background.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.m-top {
  margin-top: 15px;
}

.pohina-pad {
  padding: 10px;
}

.pohina-paper {
  width: 100%;
}

.pohina-paper-inner {
  margin: 20px;
}

.pohina-paper-content-header {
  padding-bottom: 9.5px;
  border-bottom: 1px solid #dddddd;
}

.paper-paper-content-text {
  margin: 0;
  max-height: 32px;
  overflow: hidden;
}

.pohina-container-m-top {
  margin-top: 100px;
}

.pohina-navbar {
  margin-left: 110px;
}

.pohina-navbar-logo {
  width: 56px;
  position: absolute;
  left: 40px;
  top: 15px;
}

.pohina-link {
  margin-left: 32px;
}

.pohina-icon {
  float: right;
  margin-right: 20px;
  font-size: 20px;
}

.pohina-paper-header-icon {
  float: right;
}

.pohina-paper-icon {
  float: left;
  font-size: 25px;
  cursor: pointer;
  padding-bottom: 5px;
}

.pohina-filler {
  float: left;
  width: 50%;
  height: 1px;
}

.pohina-sidebar-wrapper {
  position: fixed;
}

.pohina-sidebar {
  /*margin: 0 0 0 100px;*/
  top: 50px;
  left: 0;
}

.pohina-sidebar-logo {
  display: block;
  position: absolute;
  bottom: 90px;
  margin-left: 30px;
}

.pohina-btn {
  border-radius: 5px;
}

.pohina-forum-title {
  margin: 0px;
}

.pohina-forum-title-right {
  margin: 0px;
  text-align:right;
}

.pohina-forum-panel-outmost {
  border-radius: 5px;
  margin: 0;
}
.pohina-question:hover {
  padding-left: 15px;
  cursor: pointer;
  background-color: rgb(254, 209, 49);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.pohina-alignleft {
  margin: 0px;
	float: left;
}

.pohina-alignright {
  margin: 0px;
	float: right;
}

.pohina-answer {
  z-index: -1;
}

.pohina-answer.collapsing {
  padding-left: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  border-top: none;
}
.pohina-answer.collapse {
  padding-left: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  border-top: none;
}

.pohina-answer p {
  padding-top: 7px;
}

.q-and-a-wrapper {
  padding: 5px;
}

.navbar-inverse {
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  /*background-color: rgba(255, 255, 255, 0.7);*/
  /*background: -webkit-linear-gradient(90%, white, rgba(255, 255, 255, 0.7), 100%);
  background: -o-linear-gradient(white, rgba(255, 255, 255, 0.7));
  background: -moz-linear-gradient(white, rgba(255, 255, 255, 0.7));
  background: linear-gradient(90%, white, rgba(255, 255, 255, 0.7), 100%);*/
  background-color: white;
  color: black !important;
  font-family: "Segoe UI", Arial, sans-serif;
  border-bottom: 1px solid #ddd !important;
}

.navbar-inverse .navbar-brand {
  color: #000000;
}

.navbar-inverse .navbar-nav>li>a {
  color: #000000;
  font-size: 15px;
  margin: 10px 10px 5px 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 3px;
}

.navbar-inverse .navbar-nav>li>a:hover {
  background-color: rgb(254, 209, 49); /* brand color */
  color: #000;
}

.navbar-inverse .navbar-nav>li>a:focus {
  color: #ffffff;
  background-color: #000; /* TODO change plz */
}

@media (min-width: 767px) {
  .pohina-besides-sidebar {
    margin: 80px 40px 20px 340px;
  }
  .pohina-sidebar-logo {
    display: block;
    width: 200px;
  }
}
@media (max-width: 767px) {
  .pohina-besides-sidebar {
    margin: 40px;
  }
  .pohina-sidebar-logo {
    display: none;
  }
}

.nav-side-menu {
  overflow: auto;
  font-family: "Segoe UI", Arial, sans-serif;
  font-size: 12px;
  font-weight: 200;
  /*background-image: url('https://images.unsplash.com/photo-1415045550139-59b6fafc832f?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=24b01c30ad6fcf4b33aae390d57ffe2b');*/
  width:100%;
  height: 100%;
  /*background-size: cover;*/
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  position: fixed;
  top: 76px;
  width: 300px;
  height: 100%;
  color: #e1ffff;
  /*border: 1px solid black;*/
  border-right: 1px solid #ddd;
}
.nav-side-menu .brand {
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 14px;
}
.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  background-color: rgba(255, 255, 255, 0.6);
  /*
    .collapsed{
       .arrow:before{
                 font-family: FontAwesome;
                 content: "\f053";
                 display: inline-block;
                 padding-left:10px;
                 padding-right: 10px;
                 vertical-align: middle;
                 float:right;
            }
     }
*/
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: #1373a7;
  background-color: #effbfb;
  color: #000;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid rgba(0,0,0,0.15);
  margin-left: 0px;
  color: black;
  padding-left: 60px;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: #020203;
  background-color: #006687;
  background-color: rgb(254, 209, 49);
}
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
.nav-side-menu li {
  padding-left: 0px;
  border-bottom: 1px solid rgba(0,0,0,0.15);
}
.nav-side-menu li a {
  text-decoration: none;
  color: #000;
}
.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}
.nav-side-menu li:hover {
  padding-left: 15px;
  background-color: rgb(254, 209, 49);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    min-height: 50px;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
}
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
}
body {
  margin: 0px;
  padding: 0px;
}

.center {
  text-align: center;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;

  border-bottom: 20px solid #f00;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;

  border-top: 20px solid #f00;
}

.pohina-welcome-container-wrapper {
  position: absolute;
  top: 76px;
  left: 0;
  width: 100%;
}

.pohina-welcome-background {
  position: absolute;
  height: 500px;
  width: 100%;
}

.pohina-welcome-container {
  position: relative;
  width: 100%;
  height: 500px;
  margin: 200px 0 0 0;
  color: white;
  font-size: 50px;
  text-align: center;
}

.pohina-welcome-container-header {
  /*margin-bottom: 75px;*/
}

.pohina-welcome-icon {
  font-size: 60px;
  cursor: pointer;
  position: relative;
  top: 100px;
}

.pohina-welcome-logo {
  width: 400px;
}

.pohina-welcome-header {
  font-family: PohinaFont, Helvetica, Arial, sans-serif;
}

.pohina-welcome-paragraph {
  margin: 40px 0 0 0;
}

.pohina-welcome-card {
  height: 500px;
  margin: 120px 0 0 0;
  text-align: center;
}

.pohina-welcome-card-nomargin {
  height: 700px;
  margin-left: 10px;
  margin-bottom: 100px;
  text-align: center;
}

.pohina-welcome-card-inverse {
  background-color: rgb(34, 34, 34);
  color: rgb(255, 255, 255);
  height: 500px;
  margin: 120px 0 0 0;
  text-align: center;
}

.pohina-feature-container {
  margin: 60px 20px 0px 30px;
  /*margin-left: 10px;*/
}

.feature {
  text-align: left;
}

.dividing-header {
  display: block;
  padding-bottom: 9.5px;
  border-bottom: 1px solid #dddddd;
  /*width: 300px;*/
  margin: 0 200px 0 200px;
}

.question-style {
  margin-top: 10px;
}

.ask-button {
  margin-right: 20px;
  float: right;
  border: none;
  border-radius: 4px;
  background-color: rgb(254, 209, 49);
  padding: 10px;
}
